.aj{background-color: firebrick;
color: floralwhite;}

.andretti{background-color: blue;
color: floralwhite;}

.mc{background-color: orange;
color: floralwhite;}

.chip{background-color: firebrick;
color: floralwhite;}

.dale{background-color: gray;
color: floralwhite;}

.ecr{background-color: yellow;
color: floralwhite;}

.juncos{background-color: lawngreen;
color: floralwhite;}

.meyer{background-color: fuchsia;
color: floralwhite;}

.prema{background-color: red;
color: floralwhite;}

.rahal{background-color: grey;
color: floralwhite;}

.penske{background-color: firebrick;
color: floralwhite;}
