.penske{background-color: rgb(158, 135, 76);
color: whitesmoke;}

.envision{background-color: green;
color: whitesmoke;}

.jaguar{background-color: dimgray;
color: whitesmoke;}

.porshe{background-color: darkslateblue;
color: whitesmoke;}

.andretti{background-color: red;
color: whitesmoke;}

.maserati{background-color: navy;
color: whitesmoke;}

.nissan{background-color: rgb(151, 0, 0);
color: whitesmoke;}

.ert{background-color: yellowgreen;
color: whitesmoke;}

.mahindra{background-color: rgb(151, 0, 0);
color: whitesmoke;}

.cupra{background-color: navy;
color: whitesmoke;}

.mclaren{background-color: orange;
color: whitesmoke;}