.mclaren{background-color: orange;}

.ferrari{background-color: red;}

.redbull{background-color: navy;}

.mercedez{background-color: turquoise;}

.astonmartin{background-color: seagreen;}

.alpine{background-color: pink;}

.williams{background-color: blue;}

.kicksauber{background-color: forestgreen;}

.rb{background-color: darkgrey;}

.hass{background-color: red;}

