h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-align: center;
    background-color: darkgoldenrod;}

h2{font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    background-color: dimgray;
padding: 10px;}

p{font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: justify;
    margin:20px}

h3{font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: start;} 

nav ul{list-style: none;
padding: 0%;
margin: 10px 0 0;}

nav ul li{display: inline-block;
margin: 0 15px;}
header{background-color: rgb(46, 46, 46);
text-align: center;
padding: 15px;}

nav ul li a{color: white;
text-decoration: none;
font-size: 1.2em;
font-family: Arial, Helvetica, sans-serif;}

nav ul li a:hover{color: darkgoldenrod;}

main{font-size: 1.5em;
margin-top: 0;
}

h4{font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: start;} 

footer{background-color:dimgray;
text-align: left;
padding: 20px;}

.contenedor{text-align: center;}

.imagen{display: block;
margin: auto;}

h5{font-family: Arial, Helvetica, sans-serif;
margin: 20px;
font-size: medium;
text-align: center;}

body{background-color: white;}

.center{text-align: center;}

.peque{font-size: medium;
font-family: Arial, Helvetica, sans-serif;}

.principal{background-color: darkgoldenrod;}

.sub{background-color: darkgray;}

.teamssub{background-color: darkgray;
text-align: center;}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px; }
.column {
    flex: 1;
    max-width: 400px; 
}
.column img {
    width: 100%;}